node_modules
out
dist
docs
*.tgz

coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# cache
.eslintcache
.cache
*.tsbuildinfo

.idea

.DS_Store

# banco de dados
/database
*.sqlite